<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--&lt;!&ndash;导航&ndash;&gt;-->
  <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
      <form action="#" method="post" class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">管理后台</h2>
        <a class="active m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
        <a class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
        <div class="right m-item m-mobile-hide menu">
          <div class="ui dropdown  item">
            <div class="text">
              <img class="ui avatar image" src="../static/images/JD.png">
              <span >张雷红</span>
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="@{/product/class}" class=" item">一级类别</a>
        <a href="#" class="teal active item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui secondary segment form">
        <input type="hidden" name="page" >
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>
          <div class="field">
            <button  type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
          </div>
        </div>
      </div>
      <div id="table-container">
        <table th:fragment="blogList" class="ui compact teal table">
          <thead>
          <tr>
            <th></th>
            <th>标题</th>
            <th>类型</th>
            <th>价格</th>
            <th>销量</th>
            <th>店铺</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="product,iterStat : ${products}">

            <td th:text=${iterStat.count}>1</td>
            <td th:text="${product.title}" >标题</td>

            <td th:text="${product.secondClass}">类别</td>
            <td th:text="${product.price}">价格</td>
            <td th:text="${product.sellCount}">销量</td>
            <td th:text="${product.shop}">店铺</td>
            <td>
              <a th:href="@{/product/sellCountShow(skuid=${product.skuId})}" class="ui mini teal basic button">季度销售情况</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="7">
              <div class="ui mini pagination menu">
                <a onclick="page(this)" class=" item" th:attr="data-page=${pages}-1">上一页</a>
                <a onclick="page(this)" class=" item" th:attr="data-page=${pages}+1">下一页</a>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>

        <div class="ui success message" th:unless="${#strings.isEmpty(param.message)}">
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${param.message}">恭喜，操作成功！</p>
        </div>

      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">

      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2020 zlh Designed by zlh</p>
    </div>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->
  <script>

    var pageOrSearch = true;
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });

    $('#clear-btn')
      .on('click', function() {
        $('.ui.type.dropdown')
          .dropdown('clear')
        ;
      })
    ;

    function page(obj) {
      $("[name='page']").val($(obj).data("page"));
      pageOrSearch = false;
      loaddata();
    }

    $("#search-btn").click(function () {
      $("[name='page']").val(1);
      pageOrSearch = true;
      loaddata();
    });
    /*
    * 发送请求*/
    function loaddata() {
      $("#table-container").load("/product/search",{
        title : $("[name='title']").val(),
        page : $("[name='page']").val(),
        pageOrSearch: pageOrSearch
      });

    }

  </script>
</body>
</html>